interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/search/all?query=Tweepy
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1578523114753118208\"],\"\
        id\":\"1578523114753118208\",\"text\":\"2022-10-07 23:10:12.638569 tweepy\"\
        },{\"edit_history_tweet_ids\":[\"1578522611398893568\"],\"id\":\"1578522611398893568\"\
        ,\"text\":\"2022-10-07 23:08:12.637373 tweepy\"},{\"edit_history_tweet_ids\"\
        :[\"1578522194770296832\"],\"id\":\"1578522194770296832\",\"text\":\"RT @t6dr1ve:\
        \ #TwitterBots go away! We don't need your help! #Tweepy #OpenAI #MEME #Python\
        \ #Programming #DataScience #Blockchain #Cardano #A\u2026\"},{\"edit_history_tweet_ids\"\
        :[\"1578522108187283456\"],\"id\":\"1578522108187283456\",\"text\":\"2022-10-07\
        \ 23:06:12.6405[...]
