interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/3015271772/followed_lists
  response:
    body:
      string: '{"data":[{"id":"210377275","name":"TNFL Chefs & Restaurants"},{"id":"195424361","name":"BlogHer
        Food 15 Attendees"},{"id":"40473781","name":"Favorite Voices in Food"},{"id":"204763821","name":"JBFA2015"}],"meta":{"result_count":4}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 87babfa478fdac44c9476e512096008213ebe7b1a86f86c49771736ee8ac73fa
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '12'
      x-rate-limit-reset:
      - '1651963108'
      x-response-time:
      - '55'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/3015271772/followed_lists
version: 1
