interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/lists/84839422/members
  response:
    body:
      string: "{\"data\":[{\"id\":\"1319036828964454402\",\"name\":\"Birdwatch\",\"\
        username\":\"birdwatch\"},{\"id\":\"1244731491088809984\",\"name\":\"Twitter\
        \ Thailand\",\"username\":\"TwitterThailand\"},{\"id\":\"1194267639100723200\"\
        ,\"name\":\"Twitter Retweets\",\"username\":\"TwitterRetweets\"},{\"id\":\"\
        1168976680867762177\",\"name\":\"Twitter Able\",\"username\":\"TwitterAble\"\
        },{\"id\":\"1065249714214457345\",\"name\":\"Spaces\",\"username\":\"TwitterSpaces\"\
        },{\"id\":\"1049385226424786944\",\"name\":\"Twitter Miami\",\"username\"\
        :\"TwitterMiami\"},{\"id\":\"1004367799588880384\",\"name\":\"Twitter M\xE9\
        xico\[...]
