interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/counts/all?query=Tweepy
  response:
    body:
      string: '{"data":[{"end":"2022-04-07T01:00:00.000Z","start":"2022-04-07T00:00:00.000Z","tweet_count":31},{"end":"2022-04-07T02:00:00.000Z","start":"2022-04-07T01:00:00.000Z","tweet_count":30},{"end":"2022-04-07T03:00:00.000Z","start":"2022-04-07T02:00:00.000Z","tweet_count":31},{"end":"2022-04-07T04:00:00.000Z","start":"2022-04-07T03:00:00.000Z","tweet_count":29},{"end":"2022-04-07T05:00:00.000Z","start":"2022-04-07T04:00:00.000Z","tweet_count":30},{"end":"2022-04-07T06:00:00.000Z","start":"2022-04-07T05:00:00.000Z","tweet_count":30},{"end":"2022-04-07T07:00:00.000Z","start":"2022-04-07T06:00:0[...]
