interactions:
- request:
    body:
      text: Testing 1
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/dm_conversations/with/750362064426721281/messages
  response:
    body:
      string: '{"data":{"dm_conversation_id":"750362064426721281-1072250532645998596","dm_event_id":"1585823814058971140"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.twitter.com/2/dm_events/"1585823814058971140"
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - e64aa05d988c6b12f356b0b777b16e58067fd9f4f5b76e0aa03a755ded9ac882
      x-rate-limit-limit:
      - '200'
      x-rate-limit-remaining:
      - '196'
      x-rate-limit-reset:
      - '1666925626'
      x-response-time:
      - '99'
      x-transaction-id:
      - 1ba0e69dac2d14c9
    status:
      code: 201
      message: Created
    url: https://api.twitter.com/2/dm_conversations/with/750362064426721281/messages
- request:
    body:
      text: Testing 2
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/dm_conversations/750362064426721281-1072250532645998596/messages
  response:
    body:
      string: '{"data":{"dm_conversation_id":"750362064426721281-1072250532645998596","dm_event_id":"1585823814956482567"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.twitter.com/2/dm_events/"1585823814956482567"
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 816b3d3d7fa28b220cbf9fd64979c7aa9444e638bd19fa1521543b2607132975
      x-rate-limit-limit:
      - '200'
      x-rate-limit-remaining:
      - '195'
      x-rate-limit-reset:
      - '1666925626'
      x-response-time:
      - '92'
      x-transaction-id:
      - ab04790d9a0ad556
    status:
      code: 201
      message: Created
    url: https://api.twitter.com/2/dm_conversations/750362064426721281-1072250532645998596/messages
- request:
    body:
      conversation_type: Group
      message:
        text: Testing
      participant_ids:
      - '145336962'
      - '750362064426721281'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/dm_conversations
  response:
    body:
      string: '{"data":{"dm_conversation_id":"1585823815904395264","dm_event_id":"1585823815904395268"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.twitter.com/2/dm_events/"1585823815904395268"
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 419970fa1e4f08780874d727938e832f372b494fd2b990a9d354f157420f7c2e
      x-rate-limit-limit:
      - '200'
      x-rate-limit-remaining:
      - '194'
      x-rate-limit-reset:
      - '1666925626'
      x-response-time:
      - '111'
      x-transaction-id:
      - 95312ec9aed6941f
    status:
      code: 201
      message: Created
    url: https://api.twitter.com/2/dm_conversations
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/dm_events
  response:
    body:
      string: '{"meta":{"result_count":0}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - c61ab77e6b2edde82e41279fe30614c360c83986f2486df3cd5379ff6ee81efc
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1666925575'
      x-response-time:
      - '450'
      x-transaction-id:
      - ca2238d8b3bb8180
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/dm_events
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/dm_conversations/750362064426721281-1072250532645998596/dm_events
  response:
    body:
      string: '{"data":[{"event_type":"MessageCreate","id":"1585823814956482567","text":"Testing
        2"},{"event_type":"MessageCreate","id":"1585823814058971140","text":"Testing
        1"}],"meta":{"result_count":2,"next_token":"18LAA5G1V9DLILOG0G00ZZZZ","previous_token":"1BLC45G1V9DOTLG00S00ZZZZ"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 3eaad847b13a27123db04d3bc781a841f4f3a73b2da9fcdb1063276020d63e72
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1666925575'
      x-response-time:
      - '240'
      x-transaction-id:
      - 6f38f4836665784c
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/dm_conversations/750362064426721281-1072250532645998596/dm_events
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/dm_conversations/with/750362064426721281/dm_events
  response:
    body:
      string: '{"data":[{"event_type":"MessageCreate","id":"1585823814956482567","text":"Testing
        2"},{"event_type":"MessageCreate","id":"1585823814058971140","text":"Testing
        1"}],"meta":{"result_count":2,"next_token":"18LAA5G1V9DLILOG0G00ZZZZ","previous_token":"1BLC45G1V9DOTLG00S00ZZZZ"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.55'
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - b46452f9f641533ca331b6f3fef745c7e077f6526cbca084d0042a1a9bbb9326
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '293'
      x-rate-limit-reset:
      - '1666925575'
      x-response-time:
      - '248'
      x-transaction-id:
      - 91411ce0949616ad
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/dm_conversations/with/750362064426721281/dm_events
version: 1
