interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/search/all?query=Tweepy
  response:
    body:
      string: '{"data":[{"id":"1522929868509437952","text":"2022-05-07 13:22:29.902422
        tweepy"},{"id":"1522929365373579264","text":"2022-05-07 13:20:29.902484 tweepy"},{"id":"1522928861910028289","text":"2022-05-07
        13:18:29.902580 tweepy"},{"id":"1522928358576820225","text":"2022-05-07 13:16:29.902426
        tweepy"},{"id":"1522927855256096768","text":"2022-05-07 13:14:29.902355 tweepy"},{"id":"1522927351952289799","text":"2022-05-07
        13:12:29.902680 tweepy"},{"id":"1522926848660975618","text":"2022-05-07 13:10:29.902925
        tweepy"},{"id":"1522926345306660864","text":"2022-05-07 13:08:29.902352 tweepy"},{"id":"1522925842040602626","text":"2022-05-07
        13:06:29.905305 tweepy"},{"id":"1522925338669596675","text":"2022-05-07 13:04:29.902253
        tweepy"}],"meta":{"newest_id":"1522929868509437952","oldest_id":"1522925338669596675","result_count":10,"next_token":"b26v89c19zqg8o3fpywln8q05w1r0v8k2muddlynw2rul"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 2035902175090892923bb3bdcd2d2ce4009f0e1f4dc1a83bdffdaa524e5e2eb8
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651930738'
      x-response-time:
      - '76'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/tweets/search/all?query=Tweepy
version: 1
