interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/by?usernames=Twitter,TwitterDev
  response:
    body:
      string: '{"data":[{"id":"783214","name":"Twitter","username":"Twitter"},{"id":"2244994945","name":"Twitter
        Dev","username":"TwitterDev"}]}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - bb43009521ce2245752101b8d74474db851d78c3a04a7dac4142eb8ae37f385d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929090'
      x-response-time:
      - '34'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/by?usernames=Twitter,TwitterDev
version: 1
