interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/by/username/Twitter
  response:
    body:
      string: '{"data":{"id":"783214","name":"Twitter","username":"Twitter"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - cf9384a9473b99bba9e88fe100cb6677dc8a4d5acdd30f5195897eabc609683b
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929089'
      x-response-time:
      - '26'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/by/username/Twitter
version: 1
