interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/lists/84839422/tweets
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1578510160623853570\"],\"\
        id\":\"1578510160623853570\",\"text\":\"If you could have 1:1 master classes\
        \ with 5 Latinx folks, who would they be? #PalFrente\"},{\"edit_history_tweet_ids\"\
        :[\"1578505292156764160\"],\"id\":\"1578505292156764160\",\"text\":\"RT @NewYorker:\
        \ Watch a live discussion with @hasanminhaj and @dopequeenpheebs at the #NewYorkerFest.\
        \ Stream it here. https://t.co/o0Gkdxx1Gj\"},{\"edit_history_tweet_ids\":[\"\
        1578502943891824640\"],\"id\":\"1578502943891824640\",\"text\":\"We see you\u2019\
        re having fun with the new stickers in the photo editor. Us too. https://t.co/s14RiWlUO9\"\
        },{\"edit_history_tweet_ids\":[\"1578501624775200770\"],\"id\":\"15[...]
