interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/timelines/reverse_chronological
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1578466218075312129\"],\"\
        id\":\"1578466218075312129\",\"text\":\"Swift Playgrounds is frustrating.\
        \ Also, drag and drop on iPadOS is annoyingly bad.\"},{\"edit_history_tweet_ids\"\
        :[\"1578465888264589313\"],\"id\":\"1578465888264589313\",\"text\":\"@TwitterDev\
        \ Well, this question took flight! I find that I generate too many ideas to\
        \ keep up with my own projects; and, frameworks and APIs change so I have\
        \ to adapt all the time (that can be hard but it\u2019s also a good thing\
        \ - active mind, better technical solutions!)\"},{\"edit_history_tweet_ids\"\
        :[\"1578457029592899584\"],\"id\":\"1578457029592899584\",\"text\":\"@TwitterDev\
        \ being unable to[...]
