interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me
  response:
    body:
      string: '{"data":{"id":"1072250532645998596","name":"Tweepy Testing","username":"TweepyDev"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write
      x-connection-hash:
      - 313d4c500cc0442ad0c7b62b6e797e0eadb8dd161c09d94e9eeb1263dedf47c1
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '74'
      x-rate-limit-reset:
      - '1651932248'
      x-response-time:
      - '42'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/me
- request:
    body:
      tweet_id: '1507070437557096461'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks
  response:
    body:
      string: '{"data":{"bookmarked":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write
      x-connection-hash:
      - 66e49ad2493f8aa414a9ce2b9a34df2495eaee86bd48b9df9d9c8288c7d53b84
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651932248'
      x-response-time:
      - '65'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks
  response:
    body:
      string: "{\"data\":[{\"id\":\"1507070437557096461\",\"text\":\"\\uD83D\\uDD16\
        \ Bookmark this!\_\\n\\nToday we are launching new Bookmark endpoints, allowing\
        \ you to build new ways for people to utilize and interact with their bookmarked\
        \ Tweets - only available on the Twitter API v2.\\n\\nNot sure what to build?\
        \ It\u2019s all in the forum post \\uD83D\\uDC40\\nhttps://t.co/vYayoqRtJE\"\
        }],\"meta\":{\"result_count\":1}}"
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write
      x-connection-hash:
      - e4afc17615c4cf911769a7d48fd4888a2ba2a9dbebab798a94bd39712463cbcd
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '179'
      x-rate-limit-reset:
      - '1651932248'
      x-response-time:
      - '87'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks/1507070437557096461
  response:
    body:
      string: '{"data":{"bookmarked":false}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write
      x-connection-hash:
      - d16f69732531e18a5e61738729010d50f80a8fa6d5f94e37437cfc43fba642c4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651932248'
      x-response-time:
      - '47'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks/1507070437557096461
version: 1
