interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/mentions
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1578522401263919106\"],\"\
        id\":\"1578522401263919106\",\"text\":\"@GerardDalbon @Twitter @dsa_intl_comm\
        \ What why?\"},{\"edit_history_tweet_ids\":[\"1578522395434192896\"],\"id\"\
        :\"1578522395434192896\",\"text\":\".@Twitter #PBS says we aren\u2019t getting\
        \ enough #immigrants to fill #jobs, blaming poor #economy on this! @TuckerCarlson\
        \ @FoxNews @NewsHour\"}],\"meta\":{\"next_token\":\"7140dibdnow9c7btw423i3sy5bxqs2le36uxls6whj6ly\"\
        ,\"result_count\":2,\"newest_id\":\"1578522401263919106\",\"oldest_id\":\"\
        1578522395434192896\"}}"
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 89040fb65813ad32b55d8a0c8758838d442a7c931fceae95e7c7a57a2e79b05d
      x-rate-limit-limit:
      - '450'
      x-rate-limit-remaining:
      - '449'
      x-rate-limit-reset:
      - '1665184961'
      x-response-time:
      - '96'
      x-transaction-id:
      - 2f70dabf977cb1ba
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/783214/mentions
version: 1
