interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/tweets
  response:
    body:
      string: '{"data":[{"edit_history_tweet_ids":["1577730467436138524"],"id":"1577730467436138524","text":"whoa,
        it works\n\nnow everyone can mix GIFs, videos, and images in one Tweet, available
        on iOS and Android https://t.co/3OQ4eGsUku https://t.co/LVVolAQPZi"},{"edit_history_tweet_ids":["1565318587736285184"],"id":"1565318587736285184","text":"if
        you see an edited Tweet it''s because we''re testing the edit button\n\nthis
        is happening and you''ll be okay"}],"meta":{"next_token":"7140dibdnow9c7btw4232poeq0wapgnwgwqwvuwn3peex","result_count":2,"newest_id":"1577730467436138524","oldest_id":"1565318587736285184"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 34b063785b3282b449e894fa348081429ced16c09d10d64170a92d676540c463
      x-rate-limit-limit:
      - '1500'
      x-rate-limit-remaining:
      - '1499'
      x-rate-limit-reset:
      - '1665184961'
      x-response-time:
      - '101'
      x-transaction-id:
      - 42d892242dd549a6
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/783214/tweets
version: 1
