interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets?ids=1293593516040269825,1293595870563381249
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1293593516040269825\"],\"\
        id\":\"1293593516040269825\",\"text\":\"It\u2019s finally here! \\uD83E\\\
        uDD41 Say hello to the new #TwitterAPI.\\n\\nWe\u2019re rebuilding the Twitter\
        \ API v2 from the ground up to better serve our developer community. And today\u2019\
        s launch is only the beginning.\\n\\nhttps://t.co/32VrwpGaJw https://t.co/KaFSbjWUA8\"\
        },{\"edit_history_tweet_ids\":[\"1293595870563381249\"],\"id\":\"1293595870563381249\"\
        ,\"text\":\"Twitter API v2: Early Access released\\n\\nToday we announced\
        \ Early Access to the first endpoints of the new Twitter API!\\n\\n#TwitterAPI\
        \ #EarlyAccess #VersionBump https://t.co/g7v3aeIbtQ\"}]}"
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - caf2b48f758276c363f227494edc6980f8ec4dfd213c07ed7392d3123cfffe4d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1665184961'
      x-response-time:
      - '65'
      x-transaction-id:
      - 88c89fbf22eb52b2
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/tweets?ids=1293593516040269825,1293595870563381249
version: 1
