interactions:
- request:
    body:
      target_user_id: '17874544'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/users/1072250532645998596/blocking
  response:
    body:
      string: '{"data":{"blocking":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - c9ce8c94ed937e66ed27655cc9cb540351079e5c38b952f0fe5622664320d42e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651930550'
      x-response-time:
      - '41'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/blocking
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/blocking
  response:
    body:
      string: '{"data":[{"id":"17874544","name":"Twitter Support","username":"TwitterSupport"}],"meta":{"result_count":1}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 6518b1ea1eedc55716aea9d3c3a7c13005142dd0edca34f50821728bda86965a
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '14'
      x-rate-limit-reset:
      - '1651930551'
      x-response-time:
      - '42'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/blocking
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/users/1072250532645998596/blocking/17874544
  response:
    body:
      string: '{"data":{"blocking":false}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 4e0af34f12925ee64848c60af7be02d98e38b2ee16eb71e16465cab2c32def2a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651930551'
      x-response-time:
      - '38'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/blocking/17874544
version: 1
