interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/followers
  response:
    body:
      string: "{\"data\":[{\"id\":\"1255778080372785152\",\"name\":\"DANIEL BRIGHT\"\
        ,\"username\":\"DANIELB07927694\"},{\"id\":\"1462773540948623366\",\"name\"\
        :\"Beluga Meow\",\"username\":\"meow_beluga\"},{\"id\":\"1522919346275766272\"\
        ,\"name\":\"Libby\",\"username\":\"LibbyAllen82\"},{\"id\":\"1522922353583222787\"\
        ,\"name\":\"Gojou Satoru\",\"username\":\"GojouSa25412582\"},{\"id\":\"1028780699808030721\"\
        ,\"name\":\"Alan Li\",\"username\":\"alanyilunli\"},{\"id\":\"1522920894066266113\"\
        ,\"name\":\"Killari Upendra\",\"username\":\"killariup[...]
