interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me
  response:
    body:
      string: '{"data":{"id":"1072250532645998596","name":"Tweepy Testing","username":"TweepyDev"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - a8515bcd01b3dc34b8b8070eb1bcc5d50a15da1c7066edecd9d04e8a909c3cf1
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '74'
      x-rate-limit-reset:
      - '1651929086'
      x-response-time:
      - '38'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/me
version: 1
