interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me
  response:
    body:
      string: '{"data":{"id":"1072250532645998596","name":"Tweepy Testing","username":"TweepyDev"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read-write
      x-connection-hash:
      - 11c233b9dac7c22d2d347ec9322fa8c00c260f02fe9a79e4b0cc7c49134ba80a
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '73'
      x-rate-limit-reset:
      - '1665184653'
      x-response-time:
      - '41'
      x-transaction-id:
      - f5cdc22e68304ff4
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/me
- request:
    body:
      tweet_id: '1507070437557096461'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks
  response:
    body:
      string: '{"data":{"bookmarked":true}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read-write
      x-connection-hash:
      - 05a4b3b6ef9e3e5985bbda233ee8af7c81fe60ec43c3ea4043bea681cee8a9fe
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1665184653'
      x-response-time:
      - '82'
      x-transaction-id:
      - d1370eaf4521943a
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1507070437557096461\"],\"\
        id\":\"1507070437557096461\",\"text\":\"\\uD83D\\uDD16 Bookmark this!\_\\\
        n\\nToday we are launching new Bookmark endpoints, allowing you to build new\
        \ ways for people to utilize and interact with their bookmarked Tweets - only\
        \ available on the Twitter API v2.\\n\\nNot sure what to build? It\u2019s\
        \ all in the forum post \\uD83D\\uDC40\\nhttps://t.co/vYayoqRtJE\"}],\"meta\"\
        :{\"result_count\":1}}"
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read-write
      x-connection-hash:
      - 64dc6e3e287f68d869477b95b91291e9a78f995b6f045aa08e1e2e62e6f7bd5f
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '178'
      x-rate-limit-reset:
      - '1665184653'
      x-response-time:
      - '86'
      x-transaction-id:
      - c70741fc92f2de1a
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/users/1072250532645998596/bookmarks/1507070437557096461
  response:
    body:
      string: '{"data":{"bookmarked":false}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.52'
      perf:
      - '7626143928'
      x-access-level:
      - read-write
      x-connection-hash:
      - 170d33e7da60ab26827b7496d0165e8506748d9c624a9b1fb6fa11fa96744901
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1665184653'
      x-response-time:
      - '56'
      x-transaction-id:
      - d84cce28eb26a62d
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/bookmarks/1507070437557096461
version: 1
