interactions:
- request:
    body:
      target_user_id: '17874544'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/users/1072250532645998596/muting
  response:
    body:
      string: '{"data":{"muting":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 7c86d8516e17431b9960fb51f31cb456c0a4dc499a8ec41fd6ae417a306fa8a6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651930556'
      x-response-time:
      - '36'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/muting
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/muting
  response:
    body:
      string: '{"data":[{"id":"17874544","name":"Twitter Support","username":"TwitterSupport"}],"meta":{"result_count":1}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - e2957ee144af1a445358aa23816bf4ab6abd72c27a797df690e629e7c7f95d4c
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '14'
      x-rate-limit-reset:
      - '1651930556'
      x-response-time:
      - '56'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/muting
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/users/1072250532645998596/muting/17874544
  response:
    body:
      string: '{"data":{"muting":false}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 30b1698cfa84b10629bbeb3cafe829efdca4b05bbaf67d6fcc7dc47b8edf989f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651930557'
      x-response-time:
      - '40'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/muting/17874544
version: 1
