interactions:
- request:
    body:
      text: Test Tweet
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"1522929456142245888","text":"Test Tweet"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.twitter.com/2/tweets/1522929456142245888
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - ad8258d462cb70e11b962a871c336046ac01998967fa1d3b41986b40d17e5674
      x-rate-limit-limit:
      - '200'
      x-rate-limit-remaining:
      - '199'
      x-rate-limit-reset:
      - '1651930551'
      x-response-time:
      - '89'
    status:
      code: 201
      message: Created
    url: https://api.twitter.com/2/tweets
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/tweets/1522929456142245888
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - c54d5361dcb16fe85709ffdb99c8394c81bd3e3118ae7652c8740bd8f2f397e3
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651930551'
      x-response-time:
      - '35'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/tweets/1522929456142245888
version: 1
