interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=Tweepy
  response:
    body:
      string: "{\"data\":[{\"id\":\"1522922822112358400\",\"text\":\"2022-05-07 12:54:29.902322\
        \ tweepy\"},{\"id\":\"1522922318758137858\",\"text\":\"2022-05-07 12:52:29.902272\
        \ tweepy\"},{\"id\":\"1522921815437418498\",\"text\":\"2022-05-07 12:50:29.902263\
        \ tweepy\"},{\"id\":\"1522921723120734208\",\"text\":\"RT @iamukasa: Coolest\
        \ two talks I've sat in today , an IBM package to find deviations in your\
        \ dataset with fairness implications by @tanya_\u2026\"},{\"id\":\"1522921312125132800\"\
        ,\"text\":\"2022-05-07 12:48:29.902318 tweepy\"},{\"id\":\"1522920929042571264\"\
        ,\"text\":\"RT @iamukasa: Coolest two talks I've sat in today , an IBM package\
        \ to find deviations in your dataset with fairness implications by @tanya_\u2026\
        \"},{\"id\":\"1522920808804405253\",\"text\":\"2022-05-07 12:46:29.902321\
        \ tweepy\"},{\"id\":\"1522920305525669890\",\"text\":\"2022-05-07 12:44:29.902362\
        \ tweepy\"},{\"id\":\"1522919802196664321\",\"text\":\"2022-05-07 12:42:29.902274\
        \ tweepy\"},{\"id\":\"1522919298876030977\",\"text\":\"2022-05-07 12:40:29.902508\
        \ tweepy\"}],\"meta\":{\"newest_id\":\"1522922822112358400\",\"oldest_id\"\
        :\"1522919298876030977\",\"result_count\":10,\"next_token\":\"b26v89c19zqg8o3fpywln8ppjiyeilz63dj4j19roxqbh\"\
        }}"
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 4d16f0105ed8b5eff1c6e9fd2acdc4df7505183b69055d6d993a54c3327e553b
      x-rate-limit-limit:
      - '450'
      x-rate-limit-remaining:
      - '449'
      x-rate-limit-reset:
      - '1651929091'
      x-response-time:
      - '120'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/tweets/search/recent?query=Tweepy
version: 1
