interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/lists/84839422/followers
  response:
    body:
      string: "{\"data\":[{\"id\":\"69523768\",\"name\":\"Sungyeon Ellen Kim\",\"\
        username\":\"neosiren\"},{\"id\":\"15806207\",\"name\":\"GR2550\",\"username\"\
        :\"GR2550\"},{\"id\":\"555713608\",\"name\":\"Judee Brillante-Parnell\",\"\
        username\":\"ilokana09\"},{\"id\":\"1520088559499329537\",\"name\":\"Chris\
        \ Jr Williams\",\"username\":\"ChrisJrW87\"},{\"id\":\"1481525443782406147\"\
        ,\"name\":\"Cole Hu\",\"username\":\"ColeHu8\"},{\"id\":\"1019307395816845313\"\
        ,\"name\":\"\u0688\u0627\u06A9\u0679\u0631 \u0645\u06CC\u06A9\u06CC\u0646\u06A9\
        \",\"username\":\"Amir19888611\"},{\"id\":\"1512114730676019228\",\"name\"\
        :\"FFNF\",\"username\":\"FFNF17290894\"},{\"id\":\"1331482021135331330\",\"\
        name\":\"@Claesson\",\"username\":\"CicciCenter\"},{\"id\":\"840180024183468032\"\
        ,\"na[...]
