interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/1415348607813832708/retweeted_by
  response:
    body:
      string: "{\"data\":[{\"id\":\"861889145303515136\",\"name\":\"Slava\",\"username\"\
        :\"Astafieff_Slava\"},{\"id\":\"1516366969590759424\",\"name\":\"Yana Gencheva\"\
        ,\"username\":\"YanaGencheva\"},{\"id\":\"1494665199260942339\",\"name\":\"\
        Marcelo Fonseca\",\"username\":\"MarceloF1111\"},{\"id\":\"1516808822257553416\"\
        ,\"name\":\"Crystal Bot\",\"username\":\"CrystalBot_\"},{\"id\":\"4762610299\"\
        ,\"name\":\"TechnoKofe\",\"username\":\"technokofe\"},{\"id\":\"1514738371654037513\"\
        ,\"name\":\"DevStreamers\",\"username\":\"DevStreamersBOT\"},{\"id\":\"1510148015465668612\"\
        ,\"name\":\"Polite Troll\",\"username\":\"veryPoliteTr[...]
