interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/liked_tweets
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1345434652891373571\"],\"\
        id\":\"1345434652891373571\",\"text\":\"RT @djarinculture: *me rereading my\
        \ own tweet every time someone likes it* https://t.co/Q764BDICa9\"},{\"edit_history_tweet_ids\"\
        :[\"1575546433847324672\"],\"id\":\"1575546433847324672\",\"text\":\"RT @TwitterMovies:\
        \ he's brought kink to the timeline, Paul Rudd to the streets, and now as\
        \ #BrosMovie hits theaters, @billyeichner is takin\u2026\"},{\"edit_history_tweet_ids\"\
        :[\"1158796820627283973\"],\"id\":\"1158796820627283973\",\"text\":\"@chromaticloud\
        \ @thankunext327 #FreeDorothy\"},{\"edit_history_tweet_ids\":[\"1443969410440601638\"\
        ],\"id\":\"1443969410440601638\",\"text\":\"apparently it's october\"[...]
