interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/owned_lists
  response:
    body:
      string: '{"data":[{"id":"1207354259852820480","name":"Tweets by Twitter"},{"id":"1015240715587158021","name":"Interests
        on Twitter"},{"id":"815255107788906496","name":"Moments"},{"id":"214727905","name":"Developers"},{"id":"99925800","name":"Global
        Country Accounts"},{"id":"99924643","name":"Support"},{"id":"99924211","name":"Media"},{"id":"99923132","name":"Engineering"},{"id":"99922622","name":"Offices
        & Culture"},{"id":"99921778","name":"Business & Marketing"},{"id":"84839422","name":"Official
        Twitter Accounts"}],"meta":{"result_count":11}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 210d4292e615d000ff0833b02f9d8e324c838c5b666f1188fc7a77300314d3b9
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '14'
      x-rate-limit-reset:
      - '1651929086'
      x-response-time:
      - '64'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/783214/owned_lists
version: 1
