interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/spaces?ids=1ynKOZVRyOwxR,1mrGmanRNNkGy
  response:
    body:
      string: '{"data":[{"id":"1ynKOZVRyOwxR","state":"ended"},{"id":"1mrGmanRNNkGy","state":"scheduled"}]}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - b8232abe0fc52e9f37bac5e72cc04d153df8d45cc8c1fdd4bca702e1fb3dcf7f
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1651935870'
      x-response-time:
      - '307'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/spaces?ids=1ynKOZVRyOwxR,1mrGmanRNNkGy
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/spaces/by/creator_ids?user_ids=357750891,1517225601463205888
  response:
    body:
      string: '{"data":[{"id":"1mrGmanRNNkGy","state":"scheduled"},{"id":"1zqJVBLLyQpJB","state":"scheduled"}],"meta":{"result_count":2}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - de293e8206e55a37aa93bfb91c40181db1d2dc769730bb274e89c0f7333c5e2c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1651935871'
      x-response-time:
      - '654'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/spaces/by/creator_ids?user_ids=357750891,1517225601463205888
version: 1
