interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/mentions
  response:
    body:
      string: "{\"data\":[{\"id\":\"1522923263990579201\",\"text\":\"@1ruthieann @elonmusk\
        \ Yes..! @TIME...\\noops!\\ntime will tell...\\nbut don't forget...\\njust\
        \ a few years ago...\\nSurely @elonmusk had a reason for doing that...\\njust\
        \ like a #reason for purchasing @Twitter... https://t.co/EI3YL89vFo\"},{\"\
        id\":\"1522923221103820801\",\"text\":\"@dunjusol @TwitterDE @Twitter damn\
        \ he probably dead or sum\"},{\"id\":\"1522923132910247937\",\"text\":\"Fuck\
        \ all the way off, @Twitter @elonmusk let\u2019s us talk this way now \\uD83D\\\
        uDE02 https://t.co/lHsF1yqq0T\"},{\"id\":\"1522923129785389056\",\"text\"\
        :\"@Timidzn @kauisiki @elonmusk @MrBeast @Twitter I dont have friends ;-;\"\
        },{\"id\":\"1522923125695926272\",\"text\":\"@Kiran_Kalyan_ @Twitter Thankyou\
        \ So Much Bro\"}],\"meta\":{\"next_token\":\"7140dibdnow9c7btw421dz02trvwav4lfrb4owz7joppu\"\
        ,\"result_count\":5,\"newest_id\":\"1522923263990579201\",\"oldest_id\":\"\
        1522923125695926272\"}}"
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 60c3de84e9259d0057c56947127a52ca6cee51a34ba98d4a721dd00d918c71f0
      x-rate-limit-limit:
      - '450'
      x-rate-limit-remaining:
      - '449'
      x-rate-limit-reset:
      - '1651929090'
      x-response-time:
      - '131'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/783214/mentions
version: 1
