interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/2244994945/following
  response:
    body:
      string: "{\"data\":[{\"id\":\"44196397\",\"name\":\"Elon Musk\",\"username\"\
        :\"elonmusk\"},{\"id\":\"633050374\",\"name\":\"Aba Micah\",\"username\":\"\
        2006legend\"},{\"id\":\"15772978\",\"name\":\"Jessica Garson\",\"username\"\
        :\"jessicagarson\"},{\"id\":\"4839528448\",\"name\":\"Bitcoin Core Project\"\
        ,\"username\":\"bitcoincoreorg\"},{\"id\":\"25029451\",\"name\":\"Elon Musk\
        \ has cop energy\",\"username\":\"Punkaboo\"},{\"id\":\"1009484430250053632\"\
        ,\"name\":\"cora\",\"username\":\"coraF256\"},{\"id\":\"108209516\",\"name\"\
        :\"Amir Shevat\",\"username\":\"ashevat\"},{\"id\":\"106235[...]
