interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/783214/tweets
  response:
    body:
      string: "{\"data\":[{\"id\":\"1509951255388504066\",\"text\":\"we are working\
        \ on an edit button\"},{\"id\":\"1509216629695168512\",\"text\":\"@McDonalds\
        \ we ordered those 5 months ago\u2026 we want snack wraps now\"},{\"id\":\"\
        1509209405937627143\",\"text\":\"@lwtsphh he's defrosting for the single drop\"\
        },{\"id\":\"1509208980035457030\",\"text\":\"@jeffbcraven yay jeff\"},{\"\
        id\":\"1509208967792238592\",\"text\":\"@BTS_Factss the bird has to Tweet\
        \ too\"},{\"id\":\"1509208694596190213\",\"text\":\"@blackprints yeah that's\
        \ why we had to check on you\"},{\"id\":\"1509208291246805002\",\"text\":\"\
        @praatyy are we friends?\"},{\"id\":\"1509208278680715265\",\"text\":\"@eihsip\
        \ hahahahahahahahahahahaha \\uD83D\\uDE2D\"},{\"id\":\"1509207786256744452\"\
        ,\"text\":\"@lennisminuit can confirm, not a good feeling\"},{\"id\":\"1509207707307417602\"\
        ,\"text\":\"@SPARTlNN not showing it at all!\"}],\"meta\":{\"result_count\"\
        :10,\"newest_id\":\"1509951255388504066\",\"oldest_id\":\"1509207707307417602\"\
        ,\"next_token\":\"7140dibdnow9c7btw420k2n6ezlpvoembdd33gb1wkp4i\"}}"
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read
      x-connection-hash:
      - 783ebc71f5281df00e6678527f0d2c4986e9c60ac059d1e4c5167bab85a50a0a
      x-rate-limit-limit:
      - '1500'
      x-rate-limit-remaining:
      - '1499'
      x-rate-limit-reset:
      - '1651929091'
      x-response-time:
      - '99'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/783214/tweets
version: 1
