interactions:
- request:
    body:
      name: Test List
      private: true
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/lists
  response:
    body:
      string: '{"data":{"id":"1522926890658549760","name":"Test List"}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.twitter.com/2/lists/1522926890658549760
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 53865f42f71347c3fd774633286f3e8452e23961a02b88c1a9c5129d3fc45441
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929939'
      x-response-time:
      - '101'
    status:
      code: 201
      message: Created
    url: https://api.twitter.com/2/lists
- request:
    body:
      user_id: '783214'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/lists/1522926890658549760/members
  response:
    body:
      string: '{"data":{"is_member":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 1d3f65cd2901f5b0a7230c2f2995f146237dfab202ebe2ebb96e5daeccf2a99c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929940'
      x-response-time:
      - '150'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/lists/1522926890658549760/members
- request:
    body:
      list_id: '1522926890658549760'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/users/1072250532645998596/pinned_lists
  response:
    body:
      string: '{"data":{"pinned":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 222f71e9909a89b92fb23801fa0db3e631fced257e27641d376ec54fc488bd71
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651929940'
      x-response-time:
      - '45'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/pinned_lists
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1072250532645998596/pinned_lists
  response:
    body:
      string: '{"data":[{"id":"1522926890658549760","name":"Test List"}],"meta":{"result_count":1}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 0a6b9bdcf24f2b3f7ee5d0986e2acc3c31a84c3825dcc2d2f58d38205f229d1f
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '14'
      x-rate-limit-reset:
      - '1651929940'
      x-response-time:
      - '38'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/pinned_lists
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/lists/1522926890658549760/members/783214
  response:
    body:
      string: '{"data":{"is_member":false}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 1dac578113411b466c871dc467844c997cc65b99ab4ab74c7be6902648b7c454
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929940'
      x-response-time:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/lists/1522926890658549760/members/783214
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/users/1072250532645998596/pinned_lists/1522926890658549760
  response:
    body:
      string: '{"data":{"pinned":false}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - a5c50aad0fc0267172267a0d932147e89f95f3d4494e8334e195243bb552a13c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1651929941'
      x-response-time:
      - '41'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/users/1072250532645998596/pinned_lists/1522926890658549760
- request:
    body:
      description: Test List Description
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.twitter.com/2/lists/1522926890658549760
  response:
    body:
      string: '{"data":{"updated":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 195580370cb6f783bbf235e681f14e7534ad8d426f274aa4b0997eb52265e8d5
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929941'
      x-response-time:
      - '139'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/lists/1522926890658549760
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.twitter.com/2/lists/1522926890658549760
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.42'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - ff6e6177df4770204ceecf5bda01e24eec552dbf282e125e1465613193ccb59b
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1651929941'
      x-response-time:
      - '41'
    status:
      code: 200
      message: OK
    url: https://api.twitter.com/2/lists/1522926890658549760
version: 1
