interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/1293593516040269825/liking_users
  response:
    body:
      string: "{\"data\":[{\"id\":\"1266414623110189057\",\"name\":\"Ashley\",\"username\"\
        :\"AshleyJones43\"},{\"id\":\"1238464017951309825\",\"name\":\"Lauren\",\"\
        username\":\"Laurentrahan32\"},{\"id\":\"1000330089815392257\",\"name\":\"\
        Meenakshi Ranjan / \\uD83D\\uDEA9\\uD83D\\uDEA9 Hindu / TTS \\uD83D\\uDEA9\\\
        uD83D\\uDEA9\",\"username\":\"mran2608\"},{\"id\":\"1404606517580603393\"\
        ,\"name\":\"Alex\",\"username\":\"Alex10711720\"},{\"id\":\"1316191764592521216\"\
        ,\"name\":\"n\",\"username\":\"ever1ofus\"},{\"id\":\"1247490702931456001\"\
        ,\"name\":\"Prasant kumar\",\"username\":\"decodeprasant\"},{\"id\":\"1452352777313787913\"\
        ,\"name\":\"\u0644\u064A\u0644\u0649\",\"username\":\"lyly89185508\"},{\"\
        id\":\"1445173703050817540\",\"name\":\"Somchai\",\"username\":\"Somchai80645792\"\
 [...]
