interactions:
    - request:
          body: '{"text": "Test tweet in community", "community_id": "123456789"}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://api.twitter.com/2/tweets
      response:
          body:
              string: '{"data":{"id":"1234567890","text":"Test tweet in community","community_id":"123456789"}}'
          headers:
              api-version:
                  - "2.28"
              content-disposition:
                  - attachment; filename=json.json
              content-type:
                  - application/json; charset=utf-8
              location:
                  - https://api.twitter.com/2/tweets/1234567890
              x-access-level:
                  - write
              x-connection-hash:
                  - f86af2f37d975724d196465ae7a8bb5b420f7b2bb1b541276f76c3fe0569779e
              x-rate-limit-limit:
                  - "200"
              x-rate-limit-remaining:
                  - "199"
              x-rate-limit-reset:
                  - "1635976418"
              x-response-time:
                  - "226"
          status:
              code: 201
              message: Created
