interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/counts/recent?query=Tweepy
  response:
    body:
      string: '{"data":[{"end":"2022-04-30T13:00:00.000Z","start":"2022-04-30T12:56:17.000Z","tweet_count":1},{"end":"2022-04-30T14:00:00.000Z","start":"2022-04-30T13:00:00.000Z","tweet_count":30},{"end":"2022-04-30T15:00:00.000Z","start":"2022-04-30T14:00:00.000Z","tweet_count":30},{"end":"2022-04-30T16:00:00.000Z","start":"2022-04-30T15:00:00.000Z","tweet_count":31},{"end":"2022-04-30T17:00:00.000Z","start":"2022-04-30T16:00:00.000Z","tweet_count":30},{"end":"2022-04-30T18:00:00.000Z","start":"2022-04-30T17:00:00.000Z","tweet_count":31},{"end":"2022-04-30T19:00:00.000Z","start":"2022-04-30T18:00:00[...]
