interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=Tweepy
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1578522194770296832\"],\"\
        id\":\"1578522194770296832\",\"text\":\"RT @t6dr1ve: #TwitterBots go away!\
        \ We don't need your help! #Tweepy #OpenAI #MEME #Python #Programming #DataScience\
        \ #Blockchain #Cardano #A\u2026\"},{\"edit_history_tweet_ids\":[\"1578522108187283456\"\
        ],\"id\":\"1578522108187283456\",\"text\":\"2022-10-07 23:06:12.640564 tweepy\"\
        },{\"edit_history_tweet_ids\":[\"1578521604837212160\"],\"id\":\"1578521604837212160\"\
        ,\"text\":\"2022-10-07 23:04:12.641218 tweepy\"},{\"edit_history_tweet_ids\"\
        :[\"1578521101444841473\"],\"id\":\"1578521101444841473\",\"text\":\"2022-10-07\
        \ 23:02:12.636630 tweepy\"},{\"edit_history_tweet_ids\":[\"1578520598170386433\"\
        ],\"id\":\"1578520598170386433\",\"text\":\"2022-10-07 23:0[...]
