interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/1293593516040269825/quote_tweets
  response:
    body:
      string: "{\"data\":[{\"edit_history_tweet_ids\":[\"1458146351036841988\"],\"\
        id\":\"1458146351036841988\",\"text\":\"RT @TwitterAPI: Twitter API v2: Early\
        \ Access released\\n\\nToday we announced Early Access to the first endpoints\
        \ of the new Twitter API!\\n\\n#Twi\u2026\"},{\"edit_history_tweet_ids\":[\"\
        1456942863447588871\"],\"id\":\"1456942863447588871\",\"text\":\"RT @TwitterAPI:\
        \ Twitter API v2: Early Access released\\n\\nToday we announced Early Access\
        \ to the first endpoints of the new Twitter API!\\n\\n#Twi\u2026\"},{\"edit_history_tweet_ids\"\
        :[\"1453474504928280580\"],\"id\":\"1453474504928280580\",\"text\":\"We ask\
        \ the Twitter administration to support the account of Mr. Hussein Al-Ezzi,\
        \ after activists hacked the account\\n\\n Hope for a quick reply\\n They\
    [...]
